@charset "utf-8";
/* CSS Document */

body{font-size:14px;font-family:"Times New Roman", Times, serif;margin:0px;line-height:26px;}
ul,li,p,div,form,input{padding:0px;margin:0px;color:#000;}
img{border:0;}
ul {list-style:none;}
a{font-szie:14px;font-family:"Times New Roman", Times, serif;text-decoration:none;line-height:26px;color:#000;}
a:visited{font-szie:14px;font-family:"Times New Roman", Times, serif;text-decoration:none;line-height:26px;color:#000;}
a:hover{font-szie:14px;font-family:"Times New Roman", Times, serif;text-decoration:underline;line-height:26px;color:#000;}
.alldiv{width:1000px;margin:0px auto; overflow:hidden;}
.topdiv{height:84px;background:url(../images/topbgimg.png) repeat-x;}
li{list-style:none;}
.logo{width:600px;float:left;}
.logo div{float:left;}
.logo .mutillang{margin: 30px 0 0 10px;}
.topmenulist{width:400px;float:left;}
.topmenu{height:40px;}
.topmenu li{float:left;font-size:14px;font-family:Arial, Helvetica, sans-serif; white-space:nowrap;}
.topmenu li a{margin:0px 8px;float:left;font-size:14px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;}
.topmenu li a:visited{margin:0px 8px;float:left;font-size:14px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;}
.topmenu li a:hover{margin:0px 8px;float:left;font-size:14px;font-family:Arial, Helvetica, sans-serif;text-decoration:underline;}
.allsearch{width:270px;margin:0px auto;}
.allsearch .div1{float:left;width:233px;}
.allsearch .div2{float:left;width:30px;}

.inputbg{background:url(../images/inputimg.png) no-repeat;border:0px;height:32px;width:225px;line-height:32px;padding-left:8px;}
.menudiv{background:url(../images/tophiddenbgimg.png) repeat-x;width:985px;margin:0px auto;border-left:1px solid #eeeeee;border-right:1px solid #eeeeee;border-bottom:3px solid #91b640;height:40px;}
.menudiv li{list-style:none;float:left;font-size:14px;color:#000;font-family:Arial, Helvetica, sans-serif;text-decoration:none;line-height:40px;}
.menudiv li a{font-size:14px;color:#000;font-family:Arial, Helvetica, sans-serif;text-decoration:none;line-height:40px;margin:0px 13px;}
.menudiv li:hover{background:url(../images/menushowbgimg.png) repeat-x;color:#fff;}
.menudiv .show{background:url(../images/menushowbgimg.png) repeat-x;color:#fff;}
.menudiv .show a{color:#fff;font-size:14px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;line-height:40px;}
.div1 {position:relative;}

/*搜索建议div start*/
#suggest {background:#fff;display:none;width:255px;height:200px;border:1px solid #ccc;position:absolute;top:32px;left:1px;z-index: 500;}
/*搜索建议div end*/

/*index start*/
.indexcenterdiv{width:985px;margin:10px auto;overflow:hidden;color:#89c700;}
.indexcenterdiv .left{width:668px;margin-right:18px;float:left;overflow:hidden;}
.indexcenterdiv .right{width:298px;float:left;overflow:hidden;}
.indexmain_view {float: left;position: relative;overflow:hidden;margin-bottom: 5px;}
.indexwindow {height:375px;	width:668px;overflow: hidden;position: relative;}
.indeximage_reel {position: absolute;top: 0; left: 0;}
.indeximage_reel img {float: left;}
.indexpaging {position: absolute;bottom:0px; right:0px;width: 668px; height:70px;z-index: 100;text-align: center;line-height: 50px;background:#000;filter:alpha(opacity=50);-moz-opacity:0.5;color:#fff;display: none;font-size:16px;}
.indexpaging a {text-decoration: none;color: #fff;}
.indexchengeimg{clear:both;background:url(../images/chengeimgbg.png) repeat-x;height:70px;width:668px;margin-top:375px;}
.indexwidth600{width:600px;height:70px;margin:0px auto;}
.indexwidth600 div{float:left;margin:0px 3px;padding:7px;}
.indexwidth600 .img{margin-top:1px}
.indexwidth600 .img img{border:1px solid #fff;}
.indexwidth600 .showimg{margin-top:1px;background:#91b640;}
.indexwidth600 .showimg img{border:1px solid #fff;}
.indexwidth600 .img1{margin-top:12px}
.indexblock{margin:15px 0px;}
.indexblock .th{height:20px;border-bottom:1px solid #d7d7d7;line-height:20px;margin-bottom:10px;}
.indexblock .th .title{font-size:18px;font-family:Arial, Helvetica, sans-serif;color:#74a900;text-aligh:left;width:70%;float:left;}
.indexblock .th .more{font-size:14px;font-weight:bold;font-family:"Times New Roman", Times, serif;color:#000;text-aligh:right;width:30%;float:left;}
.indexblock .th1{height:20px;border-bottom:1px solid #d7d7d7;line-height:20px;margin-bottom:10px;}
.indexblock .th1 .title{font-size:18px;font-family:Arial, Helvetica, sans-serif;color:#74a900;text-aligh:left;float:left;}
.indexmartop10{margin-top:26px;}
.indexgrayfont{color:#7f7d7d;}
.indexgrayfont a{color:#7f7d7d;font-weight:bold;text-decoration:underline;}
.indexarrayimg{margin-top:16px;}
.indexarrayimg .arrdiv{width:207px;float:left;}
.indexpp-list{overflow: hidden;display:table;border-spacing:5px;width:180px;margin:0px auto;}
.indexpp-list li{width:180px;height:180px;text-align:center;position:relative;float:left;list-style:none;z-index:1px;} 
.indexpp {position:absolute;bottom:0px;left:0px;text-align:center;width:180px;margin:0px auto;} 
.indexlink{background:#f5f5f5;line-height:25px;height:25px;padding-left:7px;}
.indexlink div{float:left;padding:0px 2px;}
.indexgraytitle{color:#7f7d7d;line-height:18px;text-align:center;margin:7px auto;}
.indexgraytitle a{color:#7f7d7d;line-height:18px;text-align:center;margin:7px auto;}
.indexreadmore{border-top:1px solid #d7d7d7;padding:5px 0px;}
.indexreadmore a{width:60px;padding:2px 20px;background:#a6cd4f;color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:16px;}
.indexmarright10{margin:auto 20px;}
/*index end*/


/*login*/
.logindiv{width:350px;height:220px;margin:200px auto;background:url(../images/topbgimg.png) repeat-x;border-top:1px solid #e6e6e6;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;border-bottom:3px solid #91b640;text-align:center;}
.logindiv .div1{margin:10px;border-bottom:1px dashed #c4c4c4;height:40px;}
.logindiv .button{border:1px solid #91b640;margin:7px;padding:3px 10px;text-align:center;}

/*regist*/
.registdiv{padding:40px;border-top:1px solid #91b640;background:#fafafa;}
.registdiv table{width:80%;border:1px solid #ccc;}
.registdiv th{background:#fff;width:230px;text-align:right;border-right:1px dashed #ccc;border-bottom:1px dashed #ccc;background-image:url(../images/quan.png);background-repeat:no-repeat; background-position:5px center;font-weight:normal;}
.registdiv td{text-align:left;border-bottom:1px dashed #ccc;background:#fff;}
.registdiv .input{border:1px solid #e4e4e4;height:20px;line-height:20px;width:300px;}
.registfont{width:80%;margin:3px auto;font-size:16px;font-family:"Arial Black", Gadget, sans-serif;color:#91b640;}
.inputbutton{background:url(../images/menushowbgimg.png) repeat-x;padding:5px 10px;color:#FEFBE0;text-align:center;margin:8px;border:0px;font-weight:bold;}

/*mycart*/
.mycartdiv{border-top:1px solid #91b640;background:#fafafa;overflow:hidden;}
.mycartdiv .table{width:100%;border:1px solid #ccc;margin:10px auto;}
.mycartdiv .th{background: url(../images/thbgimg.png) repeat-x;height:28px;border-bottom:1px solid #ccc;font-size:16px;font-family:"Arial Black", Gadget, sans-serif;color:#91b640;padding-left:15px;text-align:left;}
.mycartdiv .td{background:#fff;padding:15px;}
.mycartdiv .img{width:195px;border-right:1px solid #ccc;}
.padd15l{padding-left:15px;}
.cartbuttondiv{background:#edf8d4;padding:0px 5px;margin:10px 0px;overflow:hidden;}
.cartbuttondiv li{float:left;margin:0px 5px;color:#7eaa1e;}
.cartbuttondiv li font{font-weight:bold;margin-right:30px;}
.carttablemar15{margin:10px 0px;}
.allselect{overflow:hidden;border-bottom:1px dashed #ccc;border-top:1px dashed #ccc;}
.allselect ul{margin-left:-8px;}
.allselect li{float:left;margin:0px 6px;color:#C00;}
.allselect li a{color:#C00;}
.pricediv{font-size:20px;font-weight:bold;text-align:right;overflow:hidden;}
.pricediv li{float:right;line-height:45px;margin:0px 10px;}
.carttab{width:949px;margin:20px auto;height:35px;line-height:35px;font-size:16px;font-family:Arial, Helvetica, sans-serif;color:#91b640;font-weight:bold;}
.carttabbg1{background:url(../images/carttop1.png) no-repeat;}
.carttabbg2{background:url(../images/carttop2.png) no-repeat;}
.carttabbg3{background:url(../images/carttop3.png) no-repeat;}
.carttabbg4{background:url(../images/carttop4.png) no-repeat;}
.carttab a{line-height:35px;font-size:16px;font-family:Arial, Helvetica, sans-serif;color:#91b640;font-weight:bold;text-decoration:none;}
.carttab td{padding-left:38px;}
.carttab .tdfontshow{line-height:35px;font-size:16px;font-family:Arial, Helvetica, sans-serif;color:#fefce8;font-weight:bold;text-decoration:none;}
.carttab .tdfontshow a{line-height:35px;font-size:16px;font-family:Arial, Helvetica, sans-serif;color:#fefce8;font-weight:bold;text-decoration:none;}
.cartinputfile{width:100%;height:20px;border:1px solid #e4e4e4;line-height:20px;}
.cartinputfile1{width:100%;height:24px;border:1px solid #e4e4e4;line-height:20px;}
.cartgrayfont{color:#999;}
.width150{width:150px;}
.width120{width:120px;}
.width70{width:70px;}
.width50{width:50px;}
.tableblock{width:949px;margin:10px auto;}
.cartedit{border-top:1px solid #e4e4e4;}
.cartprevious a{color:#FEFBE0;text-decoration: none;}
.cartprevious a:link{color:#FEFBE0;text-decoration: none;}
.cartprevious a:visited{color:#FEFBE0;text-decoration: none;}
.cartprevious a:hover{color:#FEFBE0;text-decoration: none;}



/*account我的账户*/
.accountdiv{padding-bottom:30px;overflow:hidden;font-size:16px;}
.accountdiv table{width:100%;border:0px;background:#e4e4e4;}
.accountdiv table td{background:#fff;}
.padd1{padding:1px;}
.accountdiv table ul{margin:15px;}
.accountdiv table li{height:30px;border-bottom:1px solid #C5E2A0;}
.accountdiv table li font{margin:0px 7px;}
.greenfont{font-size:16px;font-family:Arial, Helvetica, sans-serif;color:#89c700;font-weight:bold;height:30px;line-height:30px;}
.positiondiv{height:30px;border-top:1px dashed #e4e4e4;padding-left:15px;}
.accounttablelist{background:#f4f4f4;text-align: center;}
.accounttablelist th{background-image:url(../images/tablethbgimg.png);background-repeat:repeat-x;background-color:#fefefe;height:30px;line-height:30px;font-weight:normal;padding:0px 1px;}
.accounttablelist td{color:#999;padding:5px 7px;}
.accounttablelist td a {color:#3A5EA7;}
.padd12{padding:5px;}
.redfont{color:#c65400;text-decoration:underline;}
.redfont a{color:#c65400;text-decoration:underline;}
.blackfont{color:#000;text-decoration:underline;}
.blackfont a{color:#000;text-decoration:underline;}
.pagerighttdiv{margin:10px 0px;}
.bgcolordiv{background:#eeffc8;font-weight:bold;}
.accountinfo{width:95%;margin:10px auto;}
.myinfo{border:1px dashed #e4e4e4;margin-bottom:12px;overflow:hidden;padding:15px;}
.myinfo div{float:left;margin-right:20px;}
.martop10{margin-top:6px;}
.accountblocktable{margin-bottom:12px;}
.accountblocktable th{text-align:left;background:url(../images/tablethbgimg.png) repeat-x;padding:0px 15px;color:#89c700;font-family:Arial, Helvetica, sans-serif;}
.accountblocktable .td{padding:0px 15px;}
.accountblocktable strong a {color:#3A5EA7;}

.greenfont a{font-size:16px;font-family:Arial, Helvetica, sans-serif;color:#89c700;font-weight:bold;height:30px;line-height:30px;}



/*检索页面左侧 开始*/

#main {
	width:100%;
	height:700px;
}

#left {
	width:705px;
	margin-left:10px;
	margin-right:15px;
	float:left;
	margin-bottom: 70px;
}

#right {
	width:260px;
	float:left;
}

#searchbar {
	width:705px;
	height:54px;
	line-height:56px;
	border-bottom:1px dashed #C9C9C9;

}

#searchbar ul {
	font-size:14px;
	font-family:"Arial";
}


#searchbar ul li {
	margin-right:7px;
	float:left;
}

#searchword {
	border:1px solid #E5E5E5;
	width:206px;
	height:25px;
	line-height:25px;
}

#searchbar .fromto {
	border:1px solid #E5E5E5;
	width:103px;
	height:25px;
	line-height:25px;
}

#searchbutton {
	float:right;
	background:url(../images/searchbutton.png) repeat-x;
	width:65px;
	height:25px;
	margin-top:15px;
	border:1px solid #EEEEEE;
}

#left #title {
	width:705px;
	height:48px;
	
}

#left #title h1 {
	font-family:"Aller";
	font-size:20px;
	border-bottom:1px solid #9F9D9D;
}

/*翻页  开始*/
.jumppage {
	clear:both;
	margin-top: 10px;
}

.jumppage ul {
	width:460px;
	height:16px;
	margin-left:250px;
	
}

.jumppage ul li {
	float:left;
}
.jumppage ul input {
	width:30px;
}

.jumppage span {
	color:red;
}

/*翻页  结束*/

#centernews {
	border-bottom: 1px solid #9F9D9D;
}

#centernews img {
	width:179px;
	float:left;
	margin-right:15px;
}



#centernews .newsitem {
	line-height:18px;
	margin-bottom:25px;
}

#centernews .newsitem ul li {
	height:45px;	
}

#centernews .newsitem ul li.title {
	font-family:"Times New Roman";
	font-size:18px;
	color:#156d96;
}


#centernews .newsitem ul li.title a:link {
	color:#156D96;
	text-decoration: none;
}

#centernews .newsitem ul li.title a:hover {
	text-decoration: underline;
}

#centernews .newsitem ul li.title a:visited {
	color:#156D96;
}


#centernews .newsitem ul li.content {
	font-family:"Times New Roman";
	font-size:14px;
	color:#7f7d7d;
	height:48px;
}

#centernews .newsitem ul li.btn {
	color:#87B820;
	font-family:"Arial";
	font-size:14px;
}

#centernews .newsitem ul li.btn input {
	height:25px;
	background:#EEEEEE;
	border:1px solid #EEEEEE;
	color:#87B820;
	margin-top:3px;
}
	
#centernews .newsitem ul li.btn input.btn1 {
	width:85px;
}

#centernews .newsitem ul li.btn input.btn2 {
	width:125px;
}



/*相关搜索   开始*/
#xg {
	width:705px;
	height:50px;
	margin-bottom: 20px;
}
#xg h1 {
	width:205px;
	height:25px;
	text-align:center;
	line-height:25px;
	font-size:14px;
	color:black;
	display:inline;
	float:left;
}

#xg ul {
	height:50px;
}

#xg ul li {
	margin-top:13px;
	line-height:15px;
	height:15px;
	width:95px;
	color:blue;
	float:left;
}
/*相关搜索   结束*/

/*检索页面左侧 结束*/


/*检索页面右侧 开始*/
#right .rightcontent {
	width:260px;
	margin-top:28px;
}


#right .rightcontent h1 {
	font-family:"Arial";
	font-size:20px;
	border-bottom:1px solid #9F9D9D;
}


#right .rightcontent span {	
	font-family:"Arial";
	font-size:14px;
	float:right;
	display:none;
}
#right .rightcontent ul {
	font-family:"Arial";
	font-size:13px;

}

#right .rightcontent ul li {
	line-height:10px;
	margin-top:10px;
}

#right .rightcontent ul li a {
	line-height:16px;
	margin-top:10px;
	font-size:13px;
	font-family:"Arial";
}

#right .rightcontent ul li a:link {
	color:#black;
	text-decoration: none;
}

#right .rightcontent ul li a:hover {
	text-decoration: underline;
}

#right .rightcontent ul li a:visited {
	color:#black;
}

/*检索页面右侧 结束*/
/*概览页 开始*/

.imagelist{
		width:707px;
		}
.block{
			float:left;
			width:220px;
			height:250px;
			margin-right:12px;
			}
.block .img{
			margin-bottom:10px
			}
.button-ul li{
			float:left;
			list-style:none;
			}
.operation{
			background-color:#eeeeee;
			padding-bottom:0px;
			width:220px;
			}
.operation input{
			height:25px;
			background:#EEEEEE;
			border:1px solid #EEEEEE;
			margin-top:3px;
			}
.operation span{
			margin-left:3px;
			}
.operation input.btn1{
			width:85px;
			}
.operation input.btn2{
			width:125px;
			}
.summary font{
	color: #679801;
}

/*概览页 结束*/

.copyright{clear:both;width:985px;margin:0px auto;border-top:3px solid #91b640;height:70px;text-align:center;}

/*detail页面  begin*/
.detailceter{
	width:985px;
	margin:0px auto;
	border-top:3px solid #eeeeee;
	border-bottom:3px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-right:1px solid #eeeeee;
	text-align:center;
}
.detailmenudiv{
	width:930px;
	margin:0px auto;
	border-bottom:1px dashed #eeeeee;
	height:45px;
}
.detailmenudiv li{
	list-style:none;
	float:left;
	font-size:14px;
	color:#000;
	text-decoration:none;
	line-height:40px;
	text-align: left;
	margin-top:15px;
}
.detailmenudiv li a{
	font-family:"Times New Roman";
	margin:0px 5px;
}
.detailmenudiv li img{
	margin:0px 5px;
}
.task{
	color:blue;
	font-size:20px;
	font-weight:bold;
}
.detailtopic{
	width:930px;
	margin:10px auto;
	border-bottom:1px solid #d9d9d9;
	height:45px;
	text-align: center;
	font-size:25px;
	font-family:"Times New Roman";
	font-weight: bold;
}
.detailimg{
	width:930px;
	height:auto;
	margin:20px auto;
	border:opx;
}
.detailbutton{
	width:955px;
	height:31px;
	margin-top:10px;
	padding-bottom:1px;
}
.optionbutton{
	width:auto;
	height:25px;
	padding:1px 8px;
	margin-left:3px;
	font-size:15px;
	font-weight:bold; 
	color:#4e4c4c;
	float:right;
	background-color:#a6cd50;
}
.optionbutton a{
	color:#4e4c4c;
}
.detailcontent{
	width:930px;
	height:auto;
	border-top:1px solid #d9d9d9;
	margin:0px auto;
}
.content{
	font-family:"Times New Roman";
	font-size: 17px;
	color: #585958;
	margin-top:12px;
	margin-bottom:12px;
	text-align:left;
}
.detailrelation{
	width:930px;
	height:180px;
	margin:20px auto;	
}
.topic{
	font-family:"Aller";
	font-size:20px;
	font-weight:bold;
	border-bottom:1px solid #d9d9d9;
}
.relationcontent{
	width:930px;
	font-size:12px;
	margin:5px auto;
}
.relationleft{
	width:50%;
	float:left;
}
.relationright{
	width:50%;
	float:left;
}
.detailcopyright{
	width:1000px;
	margin:0px auto;
	border-top:3px solid #eeeeee;
	height:70px;
	text-align:center;
}


/*detail页面 end*/
