@charset "utf-8";
#slideshow {list-style:none; color:#fff}
#slideshow span {display:none}
#wrapper {width:667px; display:none}
#fullsize {position:relative; width:667px; height:371px;background:#000}

#information {position:absolute;line-height:15px; bottom:0; width:667px; height:0; background:#000; color:#fff; overflow:hidden; z-index:200; opacity:.4; filter:alpha(opacity=40)}
#information h3 {padding:4px 8px 3px;font-size:14px;}
#information p {padding:0 8px 8px;color:#fff;}

#image {width:667px;}
#image img {position:absolute; z-index:25; width:667px; height:371px;}

.imgnav {position:absolute; width:20%; height:371px; cursor:pointer; z-index:150;}
#imgprev {left:0; background:url(images/left.gif) left center no-repeat;}
#imgprev img {margin-top: 150px;}
#imgnext {text-align: right;right:0; background:url(images/right.gif) right center no-repeat}
#imgnext img {margin-top: 150px;}

#imglink {position:absolute; height:306px; width:100%; z-index:100; opacity:.4; filter:alpha(opacity=40)}
.linkhover {background:url(images/link.gif) center center no-repeat}

#thumbnails {margin-top:15px;width: 667px;}
#slideleft {float:left; width:20px; height:81px; background:url(images/scroll-left.gif) center center no-repeat; background-color:#ccc}
#slideleft img {margin-top: 25px;}
#slideleft:hover {background-color:#DEE8C9}
#slideright {float:right; width:20px;text-align:right; height:81px; background:#222 url(images/scroll-right.gif) center center no-repeat;background-color:#ccc}
#slideright img {margin-top: 25px;}
#slideright:hover {background-color:#DEE8C9}
#slidearea {float:left; position:relative; width:620px; margin-left:5px; height:81px; overflow:hidden}
#slider {position:absolute; left:0; height:81px}
#slider img {cursor:pointer; border:1px solid #666; padding:2px}